configuration {
    show-icons:         true;
    icon-theme:         "Dracula";
    terminal:           "alacritty";
    cycle:              false;
    hide-scrollbar:     true;
    disable-history:    false;
}
